body {
  font-family: 'Roboto', sans-serif;
  background: #f7f7f7;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar {
  z-index: 50;
}

.container {
  max-width: 960px;
  background-color: #ffffff;
}

h1, h2, h3, h4 ,h5 ,h6 {
  font-family: 'Roboto Slab', serif;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.btn {
  cursor: pointer;
}